<?xml version="1.0"?>

<model>
  <name>Container Side Open</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Michael Zechmair</name>
    <email>michael.zechmair@in.tum.de</email>
  </author>

  <description>
    Container for storing objects, side is open
  </description>
</model>
