<?xml version="1.0"?>

<model>
  <name>Shelf 1m</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Michael Zechmair</name>
    <email>michael.zechmair@in.tum.de</email>
  </author>

  <description>
    Static Shelf. Lower shelf is 1m above ground
  </description>
</model>
