<launch>
    <arg name="rbkairos_ns" default="rbkairos"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.01"/>
    <arg name="R" default="0.0"/>
    <arg name="P" default="-0.0"/>
    <arg name="Y" default="0.0"/>
    <arg name="teleportation" default="false"/>

    <group ns="$(arg rbkairos_ns)">
        <param if="$(arg teleportation)"
            name="robot_description"
            command="rosrun xacro xacro '$(find cobotics_control)/urdf/rbkairos_kuka_iiwa_robotiq/rbkairos_kuka_iiwa_robotiq_teleportation.xacro'
                world_link:='0' prefix:='$(arg rbkairos_ns)_' robot_ns:='$(arg rbkairos_ns)'"/>
        <param unless="$(arg teleportation)"
            name="robot_description"
            command="rosrun xacro xacro '$(find cobotics_control)/urdf/rbkairos_kuka_iiwa_robotiq/rbkairos_kuka_iiwa_robotiq.xacro' 
                world_link:='0' prefix:='$(arg rbkairos_ns)_' robot_ns:='$(arg rbkairos_ns)'"/>
        
        
        <param name="iiwa_ctrl/gazebo_root_link" value="$(arg rbkairos_ns)::iiwa_link_0"/>
        <param name="iiwa_ctrl/ros_root_link" value="$(arg rbkairos_ns)::iiwa_link_0"/>

        <!-- convert joint states to TF transforms for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        
        <!-- Publish Kairos -> IIWA TF offset -->
        <!-- <node name="pose_offset_tf" pkg="tf2_ros" type="static_transform_publisher"
            args="0 0 0.38 0 -0 0 $(arg rbkairos_ns)::base_link $(arg rbkairos_ns)::iiwa_link_0"/> -->
        <node name="pose_offset_tf" pkg="tf2_ros" type="static_transform_publisher"
            args="0 0 0.505 0 -0 0 $(arg rbkairos_ns)::base_link $(arg rbkairos_ns)::iiwa_link_0"/>

        <!-- load the controllers -->
        <rosparam file="$(find cobotics_control)/config/iiwa_robotiq_gazebo_controllers.yaml"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="move_arm_controller move_gripper_controller joint_state_controller">
        </node>
    

        <!-- spawn models -->
        <node name="robotiq_spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param 'robot_description' 
            -model '$(arg rbkairos_ns)'
            -b
            -x '$(arg x)' -y '$(arg y)' -z '$(arg z)' 
            -R '$(arg R)' -P '$(arg P)' -Y '$(arg Y)'">
        </node>

        <!-- start moveit -->
        <!-- <include file="$(find cobotics_kuka_iiwa_robotiq_moveit_config)/launch/moveit_planning_execution.launch">
            <arg name="load_robot_description" default="false"/>
            <arg name="rviz_config" default="$(find cobotics_control)/config/config.rviz"/>
            <arg name="rviz_launch" default="false"/>
        </include> -->
    </group>
</launch>
