<launch>
    <arg name="rbkairos_ns" default="rbkairos"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.01"/>
    <arg name="R" default="0.0"/>
    <arg name="P" default="-0.0"/>
    <arg name="Y" default="0.0"/>

    <group ns="$(arg rbkairos_ns)">
        <param name="robot_description"
            command="rosrun xacro xacro '$(find rbkairos_description)/robots/rbkairos_ur5.urdf.xacro' ros_planar_move_plugin:=true prefix:='$(arg rbkairos_ns)_' robot_ns:='$(arg rbkairos_ns)'"/>        
        
        <!-- convert joint states to TF transforms for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <!-- spawn models -->
        <node name="robotnik_spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param 'robot_description' 
            -model '$(arg rbkairos_ns)'
            -b
            -x '$(arg x)' -y '$(arg y)' -z '$(arg z)' 
            -R '$(arg R)' -P '$(arg P)' -Y '$(arg Y)'">
        </node>

        <!-- start moveit -->
        <!-- <include file="$(find cobotics_kuka_iiwa_robotiq_moveit_config)/launch/moveit_planning_execution.launch">
            <arg name="load_robot_description" default="false"/>
            <arg name="rviz_config" default="$(find cobotics_control)/config/config.rviz"/>
            <arg name="rviz_launch" default="false"/>
        </include> -->
    </group>
</launch>
