<?xml version="1.0" ?>
<model xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
	<name>KUKA IIWA 14 with prismatic gripper</name>
	<version>1.0.0</version>
        <maturity>production</maturity>
	<thumbnail>thumbnail.png</thumbnail>
	<sdf version="1.5">model.sdf</sdf>
	<license>BSD</license>
	<author>
		<name>Erdi Sayar</name>
		<email>erdi.sayar@tum.de</email>
	</author>
	<description>This kuka robot is created to test force torque sensor plugin. The model configuration of the robot includes also controller plugins. Together spawning the robot, these controller should be launched.x</description>
        <website>https://github.com/IFL-CAMP/iiwa_stack</website>
</model>
